# Exclude node modules (should be installed inside the container)
node_modules

# Build and temporary files
dist
out-tsc
.tmp
coverage

# Environment and configuration files (if needed, provide in Docker separately)
*.env
src/environments/*

# IDE-specific files
.vscode/
.idea/
*.swp

# Logs and debugging
npm-debug.log
yarn-debug.log
yarn-error.log
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Git-related files
.git
.gitignore

# Docker-related files (optional, exclude if irrelevant inside the image)
.dockerignore
Dockerfile.dev
Dockerfile.prod

