label {
    font-size: 16px; /* Taille de la police */
    display: flex; /* Utiliser flexbox pour l'alignement */
    align-items: center; /* Centrer verticalement */
    cursor: pointer; /* Changer le curseur en pointeur */
    margin: 10px 0; /* Espacement vertical */
}

input[type="checkbox"] {
    margin-right: 8px; /* Espacement entre la case à cocher et le texte */
    transform: scale(1.2); /* Agrandir la case à cocher */
}
@media (forced-colors: active) {
    /* Styles pour le mode de couleurs forcées */
    body {
        background-color: Canvas;
        color: WindowText;
    }
   
}

body.dark-theme {
    background-color: #333; /* Couleur de fond sombre */
    color: #fff; /* Couleur de texte clair */
}

body.light-theme {
    background-color: #fff; /* Couleur de fond clair */
    color: #000; /* Couleur de texte sombre */
}


