<div *ngIf="!isUserLoggedIn">
  <nav class="p-3">
    <ul class="nav nav-pills">
      <li *ngFor="let action of actions">
        <button
          [ngClass]="action === currentAction ? 'btn btn-success ms-1' : 'btn btn-outline-success ms-1'"
          (click)="handleRoute(action)">
          {{ action.title }}
          <i class="bi bi-{{ action.icon }}"></i>
        </button>
      </li>
    </ul>
  </nav>
</div>
<div *ngIf="isUserLoggedIn">
  <mat-toolbar class="custom-toolbar">
    <div class="d-flex align-items-center">
      <button mat-button routerLink="/dashbord" routerLinkActive="active">User Dashboard</button>
      <button mat-button routerLink="/otp" routerLinkActive="active" class="ms-2">Activate Esim</button>
    </div>
    <span class="spacer"></span>
    <div class="d-flex align-items-center">

      <button mat-button routerLink="/gpt" routerLinkActive="active" class="ms-2">
        <mat-icon>chat</mat-icon>
        ChatBot
      </button>
      <button mat-button routerLinkActive="active" class="ms-2" [matMenuTriggerFor]="panelMenu">
        <mat-icon>shopping_cart</mat-icon>
        Panel
        <span class="cart-badge" *ngIf="panel.length > 0">{{ panel.length }}</span>
      </button>
      <mat-menu #panelMenu="matMenu" [hasBackdrop]="true">
        <div class="cart ">
          <mat-list *ngIf="panel.length > 0; else emptyCart">
            <div *ngFor="let item of panel;let i=index" class="cart-item">
              <div class="cart-item-info">

                <div class="item-name">{{ item.name }}</div>
                <div class="item-price">{{ item.price }} TND</div>
              </div>
              <div class="cart-item-actions">
                <button mat-icon-button color="warn" (click)="removeFromCart(i,$event)">
                  <mat-icon>delete</mat-icon>
                </button>
                <div class="cart-item-quantity">
                  <button mat-icon-button (click)="decreaseQuantity(i,$event)">
                    <mat-icon>remove</mat-icon>
                  </button>
                  <span class="quantity">{{ item.quantityUnit }}</span>
                  <button mat-icon-button (click)="increaseQuantity(i,$event)">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </div>

            </div>
          </mat-list>

          <ng-template #emptyCart>
            <p class="empty-cart-message">Votre panier est vide.</p>
          </ng-template>
        </div>
        <div class="cart-footer" *ngIf="panel.length > 0">
          <h5 >{{ totalPrice }} TND</h5>
          <button mat-button color="primary" (click)="closeMenu(panelMenu)">Confirm</button>
          <button mat-button (click)="closeMenu(panelMenu)">Close</button>
        </div>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
        <mat-icon>settings</mat-icon>
      </button>
      <mat-menu #settingsMenu="matMenu" >
        <button mat-menu-item (click)="navigateToSettings()">
          <mat-icon>person</mat-icon>
          Edit Profile
        </button>
        <button mat-menu-item (click)="toggleTheme()">
          <mat-icon>{{ themeIcon }}</mat-icon>
          {{ themeToggleText }}
        </button>
        <button mat-menu-item routerLinkActive="active" (click)="logout()">
          <mat-icon>logout</mat-icon>
          Logout
        </button>
      </mat-menu>


    </div>
  </mat-toolbar>
</div>
