


video {
    width: 100%;
    max-width: 640px;
    height: auto;
    border-radius: 8px;
}
.custom-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spacer {
    flex: 1;
}


body {
    transition: background-color 0.3s ease, color 0.3s ease;
  }

