<div *ngFor="let categorieId of categorieIds">
    <!-- Afficher le titre de la catégorie -->
    <h2>{{ getTitreCategorie(categorieId) }}</h2>
    
    <!-- Liste des produits de la catégorie -->
    <ul>
      <li *ngFor="let produit of produitsParCategorie[categorieId]">
        <div class="produit-item">
          <img [src]="produit.image" alt="Image du produit" class="produit-image">
          <h3>{{ produit.nom }}</h3>
          <p><strong>Prix:</strong> {{ produit.prix }} TND</p>
        </div>
      </li>
    </ul>
  </div>
  
  
