<!-- profile.component.html -->
<div class="profile-container">
  <h2>Update Profile</h2>
  
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit(profileForm.value)">
    <div class="form-group">
      <label>Email</label>
      <input type="email" formControlName="email" class="form-control" />
      <div *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched" class="error">
        Email invalid.
      </div>
    </div>
    
    <div class="form-group">
      <label>Name</label>
      <input type="text" formControlName="name" class="form-control" />
      <div *ngIf="profileForm.get('name')?.invalid && profileForm.get('name')?.touched" class="error">
        Name is required.
      </div>
    </div>

    <div class="form-group">
      <label>Phone number</label>
      <input type="text" formControlName="phoneNumber" class="form-control" />
      <div *ngIf="profileForm.get('phoneNumber')?.invalid && profileForm.get('phoneNumber')?.touched" class="error">
        Phone number is required.
      </div>
    </div>

    <div class="form-group">
      <label>Password (optional)</label>
      <input type="password" formControlName="password" class="form-control" />
    </div>
    <div class="d-flex justify-content-end align-items-center gap-2 mt-3">
      <button type="submit" class="btn btn-primary w-100" [disabled]="profileForm.invalid">Update</button>
      <button type="button" class="btn btn-danger w-100" (click)="onCancel()">Cancel</button>
  </div>
  </form>
  <div *ngIf="updateSuccess" class="success">
    Profile updated successfully!
  </div>
  <div *ngIf="updateError" class="error">
    {{ updateError }}
  </div>
</div>

