.container {
  display: flex;
  justify-content: center;
  align-items: center !important;
}

mat-card {
  border-radius: 0 20px 0 0;
  border: solid 3px #e1ddd9;
  max-width: 50%;
  width: 100%;
  padding: 20px;
  @media screen and (max-width: 500px) {
    max-width: 90%;
  }
}

mat-card-title {
  color: #10161c;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-form-field {
  width: 100%;
  background: transparent;
}

mat-form-field input {
  border: none;
}

button {
  width: 100%;
}

@media screen and (max-width: 500px) {
  mat-card-title {
    font-size: 20px;
  }
  mat-form-field {
    margin-bottom: 10px;
  }

}

.error-snackbar {
  background-color: var(--red-asset) !important;
}

.primary-button {
  background: var(--red-asset);
  color: var(--text-color);
  font-weight: bold;
  border-radius: 8px; /* Bordures arrondies */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
  padding: 10px 20px;
}

mat-card-subtitle {
  text-align: center;
  margin-bottom: 5%;
}
