mat-card {
  margin-top: 2%;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  @media screen and (max-width: 500px) {
    max-width: 90%;
  }
}

mat-card-title {
  text-align: center;
  font-size: 24px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  width: 600px;
  margin: 0 auto;
}

mat-form-field {
  width: 100%;
}

button {
  width: 100%;
}

@media screen and (max-width: 500px) {
  mat-card-title {
    font-size: 20px;
  }
  mat-form-field {
    margin-bottom: 10px;
  }

}

.error-snackbar {
  background-color: var(--red-asset) !important;
}
